<head>
  <title>About Pranav</title>
</head>

<div class='row'>

  <% cache_unless admin_signed_in? do %>

    <div class='col-sm-4'>
      <img id='about_pranav_image' src=<%= @photo.international_url(:large) %> alt=<%= @photo.caption %> >
    </div>

  <% end %>

  <div class='col-sm-1'>
  </div>

  <div class='col-sm-6' id='about_pranav_text'>
    <%= @about_pranav %>
  </div>

  <div class='col-sm-1'>
  </div>

</div>
