<div class='row'>

  <div class='col-sm-4'>
    <img id='about_pranav_image' src='pranav/grunge.jpg'>
  </div>

  <div class='col-sm-1'>
  </div>

  <div class='col-sm-6' id='about_pranav_text'>
    <%= @about_pranav %>
  </div>

  <div class='col-sm-1'>
  </div>

</div>
