<div class='row'>

  <div class='col-sm'>
    <img id='about_pranav_image' src='pranav/grunge.jpg'>
  </div>

  <div class='col-sm' id='about_pranav_text'>
    <p>Pranav lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque rhoncus felis, quis feugiat lorem rutrum eget. Aenean molestie porttitor accumsan. Proin tempus tellus vel nibh commodo, a pellentesque justo bibendum.</p>
    <p>Phasellus ac gravida eros, ut dapibus purus. Vivamus aliquet ex turpis, vitae sagittis est tristique sed. Nulla finibus purus vel nulla porta, id ultricies sapien faucibus. Cras eget luctus nulla.</p>
    <p>Aliquam egestas, neque quis laoreet lacinia, sem massa faucibus risus, in lacinia sem quam sit amet purus. Nullam non ipsum blandit, tristique lacus eget, tincidunt arcu.</p>
  </div>

</div>
