<div class='row'>

  <div class='col-sm-1'>
  </div>

  <div class='col-sm-5 contacts'>

    <a href='mailto:pranav@yahoo.co.uk?Subject=Kathak%20lessons' target='_blank'>
      <p class='d-flex justify-content-start'>
        <span><img src='social_media/email_2.png' class='img-fluid contact'></span>
        <span class='contact_text'>pranav@yahoo.co.uk</span>
      </p>
    </a>

    <a href='tel:01234567890' target='_blank'>
      <p class='d-flex justify-content-start'>
        <span><img src='social_media/phone_2.png' class='img-fluid contact'></span>
        <span class='contact_text'>01234 012 012</span>
      </p>
    </a>

    <a href='https://www.twitter.com' target='_blank'>
      <p class='d-flex justify-content-start'>
        <span><img src='social_media/twitter_2.png' class='img-fluid contact'></span>
        <span class='contact_text'>pranav@twitter.com</span>
      </p>
    </a>

    <a href='https://www.facebook.com' target='_blank'>
      <p class='d-flex justify-content-start'>
        <span><img src='social_media/facebook_2.png' class='img-fluid contact'></span>
        <span class='contact_text'>pranav@faceboook.com</span>
      </p>
    </a>

  </div>

  <div class='col-sm-5 hidden-sm-down'>
    <img id='contact-image' src='pranav/flyer.jpg'>
  </div>

  <div class='col-sm-1'>
  </div>

</div>
