<div class='row'>
  <div class='col'>
    <img id='contact-image' src='pranav/flyer.jpg'>
  </div>
  <div class='col'>
    <p>Email: pranav@yajnik.com</p>
    <p>Tel: 12345 123 123</p>
    <p>Twitter: pranav@twitter</p>
    <p>Facebook: pranav@facebook</p>
  </div>
</div>
