<% cache_unless admin_signed_in? do %>

  <head>
    <title>Gallery</title>
  </head>

  <% @gallery_items.each do |item| %>

    <% if visible_photo(item) %>
      <%= render 'photos/photo', photo: item %>
    <% elsif video(item) %>
      <%= render 'videos/video', video: item %>
    <% end %>

  <% end %>

<% end %>
