<% cache_unless admin_signed_in? do %>

  <head>
    <title>Pranav Yajnik | Kathak Lessons</title>
  </head>

  <img class='img-fluid hidden-md-down' id='home_image' src=<%= @photo.international_url(:large) %>  alt=<%= @photo.caption %> >

  <img class='img-fluid hidden-lg-up' id='mobile_home_image' src=<%= @mobile_photo.international_url(:large) %> alt=<%= @mobile_photo.caption %>>

  <style>
    body { overflow-y: hidden }
  </style>

<% end %>
