<div >
<img id='lessons_image' class='mx-auto' src='pranav/feet.jpg'>
</div>

<div class='text-center class_info'>
  <p class='class_level'>Beginners</p>
  <p>When:    Wednesdays, 6pm</p>
  <p>Where:   Pranav Studios, 123 Kathak Street, London, A12 3BC<p>
</div>

<div class='text-center class_info'>
  <p class='class_level'>Intermediate</p>
  <p>When:    Thursdays, 6pm</p>
  <p>Where:   Pranav Studios, 123 Kathak Street, London, A12 3BC<p>
</div>

<div class='text-center class_info'>
  <p class='class_level'>Advanced</p>
  <p>When:    Fridays, 6pm</p>
  <p>Where:   Pranav Studios, 123 Kathak Street, London, A12 3BC<p>
</div>
