<head>
  <title>Lessons</title>
</head>

<% cache_unless admin_signed_in? do %>

  <div >
    <img id='lessons_image' class='mx-auto' src="<%= @photo_url %>" alt='Pranav'>
  </div>

<% end %>

<% @lessons.each do |lesson| %>
  <%= render 'lesson_details', lesson: lesson %>
<% end %>
