<head>
  <title>Lessons</title>
</head>

<div >
  <img id='lessons_image' class='mx-auto' src="<%= @photo_url %>" alt='Pranav'>
</div>

<% @lessons.each do |lesson| %>
  <%= render 'lesson_details', lesson: lesson %>
<% end %>
