<div >
  <img id='lessons_image' class='mx-auto' src='pranav/feet.jpg'>
</div>


<% @lessons.each do |lesson| %>

  <div class='text-center class_info'>
    <p class='class_level'>
      <%= lesson.what %>
    </p>
    <p>
      When:
    </p>
    <p>
      Where:
      <%= lesson.where %>
    <p>
  </div>

  <% if admin_signed_in? %>
    <%= button_to 'delete', "/lessons/#{lesson.id}", method: :delete, :class => 'admin_button' %>
  <% end %>

<% end %>
