<head>
  <title>Lessons</title>
</head>

<% cache_unless admin_signed_in? do %>

  <div >
    <img id='lessons_image' class='mx-auto' src=<%= @photo.international_url(:large) %>  alt=<%= @photo.caption %> >
  </div>

<% end %>

<% @lessons.each do |lesson| %>
  <%= render 'lesson_details', lesson: lesson %>
<% end %>
