<% @photos.each do |photo| %>

  <div class='row photo_row'>

    <div class='col-sm-3'>
    </div>

    <div class='col-sm-6'>
      <div><%= link_to image_tag(photo.image.url, :class => 'photo mx-auto'), photo.image.url, target: '_blank' %></div>
      <div class='d-flex justify-content-between'>
        <%= photo.caption %>
        <%= button_to 'delete', "/photos/#{photo.id}", method: :delete, :class => 'admin_button' %>
      </div>
    </div>

    <div class='col-sm-3'>
    </div>
  </div>

<% end %>
