<a href=<%= link %> >
  <p class='d-flex justify-content-start'>
    <span><%=image_tag(image, class: 'img-fluid contact')%></span>
    <span class='contact_text'>
      <%= contact %>
    </span>
  </p>
</a>
