body {
  background-color: black;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 15px
}

a {
  color: white;
  text-decoration: none
}

.header {
  border-bottom: 10px solid #F86B42;
}

#page-links {
  font-size: 20px
}

#logo {
  font-size: 40px;
  color: white
}

footer {
  font-size: 10px;
  bottom: 0px
}

img {
  display: block;
  margin: auto;
}

#about-pranav-image {
  height: 400px;
}

#about-kathak-image {
  height: 400px;
}

#home-image {
  height: 400px;
}

#contact-image {
  height: 400px;
}
