body {
  background-color: #C0C0C0;
  color: white;
  font-family: 'Raleway', sans-serif;

}

a {
  color: white;
  text-decoration: none
}

header {
  text-align: right;
  font-size: 30px
}

#about-pranav-image {
  height: 120px;
  width: auto;
}
