/*general*/

body {
  background-color: black;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  padding-top: 100px;
  padding-bottom: 100px
}

img {
  display: block;
}

a:hover {
  color: #F86B42;
  text-decoration: none
}

a {
  color: white
}

button:focus {
  outline: none
}

textarea:focus, input:focus{
    outline: none;
}

/*navbar*/

.navbar {
  border-bottom: 3px solid #F86B42;
  background-color: black
}

.navbar-brand {
  font-size: 35px;
  color: white
}


.nav-link {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.navbar-toggler {
  background-color: black;
}

#menu_icon {
  max-height: 40px;
  height: auto
}

/*footer*/

#footer {
  background-color: #F86B42;
  padding: 15px
}

.icon {
  max-height: 35px;
  padding-left: 15px;
  padding-right: 15px
}

/*home*/

.mobile_home_image {
  margin-top: 100px
}

/*about_pranav*/

#about_pranav_image {
  margin-top: 30px;
  max-width: 100%;
  height: auto;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 10px
}

#about_pranav_text {
  margin-top: 30px;
  text-align: justify;
  text-justify: inter-word;
  max-width: 100%;
}

/*gallery*/

.gallery_image {
  max-width: 100%;
  height: auto;
  border: 3px solid #F86B42;
  border-radius: 10px;
}

.gallery_frame {
  margin: 100px;
}

/*lessons*/

#lessons_image {
  margin-top: 50px;
  max-width: 55%;
  height: auto;
}

.class_info {
  margin-top: 50px
}

.class_level {
  font-size: 25px;
  text-decoration: underline;
  text-decoration-color: #F86B42
}

/*contact*/

.contact {
  max-height: 40px;
  padding-right: 30px
}

.contact_text {
  color: white
}

.contacts {
  margin-top: 50px
}

#contact-image {
  margin-top: 50px;
  max-width: 100%;
  height: auto;
  border-radius: 10px
}

/*admin*/

.photo {
  max-width: 100%;
  height: auto;
  margin: 10px
}

.photo_row {
  margin: 50px
}

.admin_button {
  background-color: #F86B42;
  color: white;
  border: 2px solid white;
  font-family: 'Raleway', sans-serif;
  border-radius: 10px
}

.admin_button:hover {
  background-color: #F86B42;
  color: white;
  border: 2px solid white;
  font-family: 'Raleway', sans-serif;
  border-radius: 10px
}

.admin_links {
  background-color: gray;
  border-radius: 10px;
  margin-top: 80px
}

.admin_label {
  font-size: 20px
}

.sign_in_form {
  margin: 50px
}

.sign_in_input {
  border-radius: 5px;
  border: none;
  width: 300px
}

.admin_form {
  margin: 50px
}

.about_pranav_input {
 height: 200px;
 resize: none
}

.delete_photo_button {
  margin-top: 10px
}
