<nav class='navbar navbar-toggleable-md fixed-top'>

  <button class='navbar-toggler navbar-toggler-right' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
    <%=image_tag('menu_2.png', id: 'menu_icon')%>
  </button>

  <a class='navbar-brand' href='/'>pranav yajnik</a>

  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav ml-auto'>

      <li class='nav-item'>
        <a class='nav-link' href='/'>home</a>
      </li>

      <li class='nav-item'>
        <a class='nav-link' href='/about_pranav'>about pranav</a>
      </li>

      <li class='nav-item'>
        <a class='nav-link' href='/gallery'>gallery</a>
      </li>

      <li class='nav-item'>
        <a class='nav-link' href='/lessons'>lessons</a>
      </li>

      <li class='nav-item'>
        <a class='nav-link' href='/contact'>contact</a>
      </li>

    </ul>

  </div>
  
</nav>
